@model IEnumerable<TitleUrlResponse1.Models.Info>
@{
    ViewBag.Title = "Получаем информацию о запросе";
}

<h3>@ViewBag.Title.</h3>
<p></p>
<h4>@ViewBag.MessageAboutUrl</h4>
<br /><br />
<p></p>
<h4>@ViewBag.NameUrl</h4>
<p></p>
<br /><br />
<h4>@ViewBag.TitleUrl</h4>
<p></p>
<br /><br />
<h4>@ViewBag.statusCode</h4>
<p></p>
<br /><br />
<h4>@ViewBag.lastModified</h4>
